<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hummingbot_plugin)/hummingbot_test.world"/>
  </include>
<!-- NODES -->
  <node name="rover" pkg="hummingbot" type="rover.py"/>
 <!-- joy node -->
  <node name="joy" respawn="true" pkg="joy" type="joy_node">
    <param name="dev" type="string" value="/dev/input/js1" />
  </node>
  <node name="joy_teleop" pkg="hummingbot" type="joystick.py"/>
  <param name="velocity_coef" value="4" type="double"/>
</launch>
