<launch>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find hummingbot_plugin)/hummingbot_test.world"/>
    <!-- more default parameters can be changed here -->
    <arg name="paused" value="false"/>
  </include>
  <node name="rover" pkg="hummingbot" type="rover.py"/>

</launch>
