<?xml version="1.0" ?>
<model>
    <name>Hummingbot</name>
    <version>1.6</version>
    <sdf version="1.6">model.sdf</sdf>
    <author>
        <name>Orkun Aşa</name>
        <email>orkun@hummingdrone.co</email>
    </author>
    <description>Hummingbot is the light weight version of Jetbot</description>
</model>
